[submodule "supermarket-pricing-java"]
	path = supermarket-pricing-java
	url = https://github.com/francesco-losciale/supermarket-pricing-java.git
[submodule "rover-java"]
	path = rover-java
	url = https://github.com/francesco-losciale/rover-java.git
[submodule "maze-kata-java"]
	path = maze-kata-java
	url = https://github.com/francesco-losciale/maze-kata-java.git
